/* common css */
body { 
    margin : 0 !important;
    min-height: 100vh;
}

.tool-moa-layout {
    display: flex;
    flex-direction: column;

    min-height: inherit;
}

/* 툴모아 헤더 */
.tool-moa__header {
    display: flex;
    background-color:#f5f5f5;

    & .tool-moa__logo {
        width: 100px;
        height: 100px;

        & a {
            height: inherit;
        }

        & img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
}

.tool-moa__header__menu {
    width: 100%;
    display: flex;
    align-items: center;

    .menu_box {
        display: flex;

        & li {
            list-style: none;
        }

        & li:nth-child(n+2) {
            margin-left: 10px;
        }
    }
}

/* 툴모아 메인 css */
.tool-moa__main {
    flex-grow: 1;
}

/* 툴모아 푸터 */
.tool-moa__footer {
    display: flex;
    background-color:#f5f5f5;
    flex-direction: column;

    & .capyright_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
